<form>
    <img src="assets/food.png">

    <input type="text"    placeholder="Alimento"   class="form-control">                  
    <input type="number"  placeholder="Quantidade"  class="form-control">

    <div class="form-check form-switch">
        <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label custom-switch-label" for="flexSwitchCheckDefault">Esse alimento é recomendado ao paciente?</label>
    </div>

    <input type="button" value="Cadastrar"  class="btn btn-primary">
    <input type="button" value="Alterar"    class="btn btn-warning">
    <input type="button" value="Remover"    class="btn btn-danger">
    <input type="button" value="Cancelar"   class="btn btn-secondary">

</form>
