<form>
    <img src="assets/food.png">


    <input type="text"    placeholder="Alimento"   class="form-control" name="nomeAlimento"   [(ngModel)]="alimento.nomeAlimento" >                  
    <input type="number"  placeholder="Quantidade"  class="form-control" name="quantidade"   [(ngModel)]="alimento.quantidade" >

    <div class="form-check form-switch">
        <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault" name="recomendado"   [(ngModel)]="alimento.recomendado" >
        <label class="form-check-label custom-switch-label" for="flexSwitchCheckDefault">Esse alimento é recomendado ao paciente?</label>
    </div>

    <input type="button" value="Cadastrar"  *ngIf="ehCadastro" class="btn btn-primary" (click)="cadastrar()">
    <input type="button" value="Alterar"   *ngIf="!ehCadastro" class="btn btn-warning" (click)="editar()">
    <input type="button" value="Remover"  *ngIf="!ehCadastro"  class="btn btn-danger" (click)="remover()">
    <input type="button" value="Cancelar"  *ngIf="!ehCadastro" class="btn btn-secondary" (click)="cancelar()">

</form>
<input *ngIf="tabela" class="form-control custom-find-food" type="text" [(ngModel)]="termoBusca" placeholder="Buscar por alimento">
<table class="table" *ngIf="tabela" >
    <thead>
        <tr>
            <th>#</th>
            <th>Alimento</th>
            <th>Quantidade</th>
            <th>É recomendado?</th>
            <th>Selecionar</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let a of filterAlimentos(); index as i">
            <td>{{i + 1}}</td>
            <td>{{a.nomeAlimento}}</td>
            <td>{{a.quantidade}}</td>
            <td>{{a.recomendado}}</td>
            <td><button class="btn btn-success" (click)="selecionarAlimento(a.codigo)">Selecionar</button></td>
        </tr>
    </tbody>
</table>
